.alert__block {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: -100px;
    left: 0;
    z-index: 10000;
    animation: alertAnimation 1s ease 0s 1 normal forwards;
}

.modal__alert {
    position: relative;
}

.list-group-item:hover {
    background: #0d6efd;
    color: #fff;
}

.search__input {
    width: 100%;
}

.clear__search {
    display: none;
}

#add__contact__btn {
    width: 100%;
}

#showContactInfoModal {
    display: none;
}

.phonebook__content {
    width: 500px;
}

#add__contact__btn {
    width: 100%;
}

@keyframes alertAnimation {
    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60% {
        transform: translateX(10px);
    }

    80% {
        transform: translateX(8px);
    }

    90% {
        transform: translateX(-8px);
    }
}
